.table-gm{
    width: 100%;
}
.table-gm thead tr td{
    color: rgb(75, 75, 75);
}
.table-gm tbody tr:hover{
    background-color: rgb(255, 239, 235);
    cursor: pointer;
}
.table-gm tbody tr td{
    border-bottom: none !important;
}


.table-gm thead::after {/* Con esto me aseguro que no se desplace el border bottom*/
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%; 
    height: 2px; 
    background-color: rgb(255, 211, 205); 
    z-index: -1; 
}
