.actions-bar{
    margin: auto;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    margin-top: -1.5rem;
}
.actions-bar button{
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transition: all ease-in-out 0.3s;
}
.actions-bar button:last-child{
    margin-right: 0rem;
}
.delete-pre{/*Esta clase viene como atributo del objeto del arreglo de options Precandidate.jsx*/
    color: #ffffff !important;
}
.done-pre{
    color: rgb(255, 255, 255);
}