.barStatus{
   width: fit-content;
}
.barStatus ul{
    width: fit-content;
    display: flex;
    flex-direction: row;
    list-style: none;
    border-radius: 0.5rem;
    overflow: hidden;
}
.barStatus ul li{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
}
.painted{
    background-color: var(--blue) !important;
    color: white !important;
}