.barStatus{
    width: fit-content;
    overflow: hidden;
}



.barStatus ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}



.barStatus ul li{
    padding: 0.7rem;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--blue);
}
.barStatus ul li:last-child{
    border-right: 2px solid var(--blue);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.barStatus ul li:first-child{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}



.painted{
    background-color: var(--blue);
    color: white !important;
}