#button{
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}