.client-documents-container{
    min-height: 500px;
    padding: 0 1rem;
    margin-top: 1rem;
}

.cards-clients-documents{/*ES EL CONTENEDOR QUE CONTIENE LAS TARJETAS*/
    display: flex;
    height: 485px;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 0.4rem;
    background-color: #f3f3f3;
    overflow-y: auto;
}




/*ES LA TARJETA EN SI*/
.container-card-client{
    width: 49%;
    height: 255px;
    background-color: white;
    border-radius: 0.8rem;
    padding: 0.5rem 0.25rem;
    overflow: hidden;
}
.card-client{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.label-status-sent-excel{
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: 1rem;
}
.label-status-sent-excel > div{
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.card-client:last-child{
    margin-right: 0 !important;
}
.card-client > header{
    background-color: white;
    padding: 1rem;
}
.header-cc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profile-color{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
}
.titles-header-cc h1{
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.05rem; 
}
.titles-header-cc p{
    font-size: 0.7rem;
    color: #8b8b8b;
}
.label-card-cc-n{
    background-color: rgba(255, 18, 18, 0.144);
    font-size: 0.6rem;
    color: white;
    letter-spacing: 0.02rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem 0.4rem;
}
.details-more-cc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 0.5rem;
    overflow-x: scroll;
}
.dmcc-position{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}
.dmcc-position span{
    padding: 0.5rem;
}
.dmcc-position div:first-child{
    border: 2px solid  #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #262626;
}
.dmcc-position div:last-child{
    width: 100px;
    text-align: center;
    border: 2px solid  #262626;
    background-color: #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #ffffff;
}
.dmcc-level-en{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}
.dmcc-level-en span{
    padding: 0.5rem;
}
.dmcc-level-en div:first-child{
    border: 2px solid  #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #262626;
}
.dmcc-level-en div:last-child{
    border: 2px solid  #262626;
    background-color: #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #ffffff;
}
.dmcc-level-es{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}
.dmmc-level-es div{
    text-align: center;
    width: fit-content;
}
.dmcc-level-es div:first-child{
    border: 2px solid  #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #262626;
    text-align: center;
}
.dmcc-level-es div:last-child{
    border: 2px solid  #262626;
    background-color: #262626;
    margin-right: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    color: #ffffff;
    width: 150px;
    text-align: center;
}




.form-cc{
    height: 30px;
    position: relative;
    padding: 0.7rem;
}
.error-ccd{
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 0.6rem;
    color: rgb(209, 0, 28);
}
.form-cc form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.form-cc form fieldset{
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.form-cc form fieldset label{
    margin: 0 !important;
    font-size: 0.6rem;
}
.form-cc form fieldset input{
    margin-right: 0.3rem;
}
.form-gmprocess{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.input-gmprocess{
    background-color: transparent;
    font-size: 0.6rem;
}



.family-data{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.6rem;
    margin-top: 2rem;
    position: relative;
}
.family-data fieldset{
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-right: 0.5rem;
}
.family-data fieldset label{
    font-size: 0.6rem;
    color: #646464;
}
.family-data fieldset input{
    margin-right: 0.3rem;
}
.family-data fieldset input[type="number"]{
    width: 45px;
    margin-left: 0.5rem;
    outline: none;
    border: 1px solid #e2e2e2;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
}
.confirm-num-family{
    background-color: #09090a;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    color: white;
}
.data-checkbox-family{
    padding: 1rem 0;
}
.actions-cw{
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.btn-back-card{
    color: #8b8b8b;
    font-size: 1.2rem;
}
.send-excel-to-keny{
    color: #095e2f;
}
.btn-check-card{
    color: #8b8b8b;
}
.btn-send-gm{
    color: hsl(197, 100%, 50%);
}





.info-documents-card{
    font-size: 0.6rem;
    padding: 1rem;
    color: #646464;
    margin-top: -1.5rem;
}
.data-me-border{
    padding-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0;
}
.data-me > p{
    letter-spacing: 0.05rem;
    color: #09090a;
}
.data-me .me-checks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.me-checks-grid{
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr;
}
.data-me .me-checks .me-check{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
}
.highlight-family{
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
}
.data-me .me-checks .me-check p{
    margin-left: 0.5rem;
}

.data-them{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}
.data-them > p{
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
    color:#09090a;
}
.data-them .familiar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
.data-them .familiar .them-check{
    display: flex;
    flex-direction: row;
}
.data-them .familiar .them-check p{
    margin-left: 0.5rem;
}

.data-me{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}



/*ESTILOS PARA LOS CHECBOX DE FAMILAIRES CUANDO EL CANDIDATO TIENE FAMILIA*/
.item-familiar{
    margin-top: 1rem;
    font-size: 0.6rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    place-items: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #fafafa;
}
.item-familiar fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-familiar fieldset label{
    margin: 0 !important;
    color: #646464;
}
.item-familiar fieldset input{
    margin-right: 0.2rem;
}
.item-familiar input{
    outline: none;
    background-color: transparent;
}
.item-familiar button{
    padding: 0.2rem 0.3rem;
    background-color: #0f00e4;
    color: white;
    border-radius: 0.3rem;
}



.editar-gm-process{
    font-size: 0.6rem;
    background-color: #09090a;
    padding: 0.1rem 0.3rem;
    color: white;
    border-radius: 0.2rem;
}







/* Estilos para el scroll vertical */
.details-more-cc::-webkit-scrollbar {
    width: 3px; /* Ancho del scroll */
    height: 3px;
  }
  
  .details-more-cc::-webkit-scrollbar-track {
    background: #ffffff; /* Color de fondo del track */
  }
  
  .details-more-cc::-webkit-scrollbar-thumb {
    background: #d4d4d4; /* Color del thumb (barra deslizante) */
    opacity: 0;
    border-radius: 3px; /* Borde redondeado del thumb */
  }
  
  /* Pseudoelemento antes del thumb */
  .details-more-cc::-webkit-scrollbar-thumb:hover::before {
    opacity: 1; /* Hace visible el pseudoelemento */
  }
  
  .details-more-cc::-webkit-scrollbar-thumb::before {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    top: 1; /* Lo coloca arriba del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    transition: opacity 0.3s; /* Efecto de transición */
    opacity: 0; /* Inicialmente invisible */
  }
  
  /* Pseudoelemento después del thumb */
  .details-more-cc::-webkit-scrollbar-thumb::after {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    bottom: 0; /* Lo coloca abajo del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    transition: opacity 0.3s; /* Efecto de transición */
    opacity: 0 !important; /* Inicialmente invisible */
  }
  
  /* Al hacer hover sobre el scroll */
  .details-more-cc:hover::-webkit-scrollbar-thumb::before,
  .details-more-cc:hover::-webkit-scrollbar-thumb::after {
    opacity: 1; /* Hace visible los pseudoelementos */
  }







  /* Estilos para el scroll vertical */
.card-client::-webkit-scrollbar {
    width: 3px; /* Ancho del scroll */
    height: 3px;
  }
  
  .card-client::-webkit-scrollbar-track {
    background: #ffffff; /* Color de fondo del track */
  }
  
  .card-client::-webkit-scrollbar-thumb {
    background: #d4d4d4; /* Color del thumb (barra deslizante) */
    opacity: 0;
    border-radius: 3px; /* Borde redondeado del thumb */
  }
  
  /* Pseudoelemento antes del thumb */
  .card-client::-webkit-scrollbar-thumb:hover::before {
    opacity: 1; /* Hace visible el pseudoelemento */
  }
  
  .card-client::-webkit-scrollbar-thumb::before {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 3px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    top: 1; /* Lo coloca arriba del thumb */
    right: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 1rem; /* Borde redondeado */
    opacity: 0; /* Inicialmente invisible */
  }
  
  /* Pseudoelemento después del thumb */
  .card-client::-webkit-scrollbar-thumb::after {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    bottom: 0; /* Lo coloca abajo del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    opacity: 0 !important; /* Inicialmente invisible */
  }
  
  /* Al hacer hover sobre el scroll */
  .card-client:hover::-webkit-scrollbar-thumb::before,
  .card-client:hover::-webkit-scrollbar-thumb::after {
    opacity: 1; /* Hace visible los pseudoelementos */
  }










    /* Estilos para el scroll vertical */
.cards-clients-documents::-webkit-scrollbar {
    width: 3px; /* Ancho del scroll */
    height: 3px;
  }
  
  .cards-clients-documents::-webkit-scrollbar-track {
    background: #ffffff; /* Color de fondo del track */
  }
  
  .cards-clients-documents::-webkit-scrollbar-thumb {
    background: #d4d4d4; /* Color del thumb (barra deslizante) */
    opacity: 0;
    border-radius: 3px; /* Borde redondeado del thumb */
  }
  
  /* Pseudoelemento antes del thumb */
  .cards-clients-documents::-webkit-scrollbar-thumb:hover::before {
    opacity: 1; /* Hace visible el pseudoelemento */
  }
  
  .cards-clients-documents::-webkit-scrollbar-thumb::before {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 3px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    top: 1; /* Lo coloca arriba del thumb */
    right: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 1rem; /* Borde redondeado */
    opacity: 0; /* Inicialmente invisible */
  }
  
  /* Pseudoelemento después del thumb */
  .cards-clients-documents::-webkit-scrollbar-thumb::after {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    bottom: 0; /* Lo coloca abajo del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    opacity: 0 !important; /* Inicialmente invisible */
  }
  
  /* Al hacer hover sobre el scroll */
  .cards-clients-documents:hover::-webkit-scrollbar-thumb::before,
  .cards-clients-documents:hover::-webkit-scrollbar-thumb::after {
    opacity: 1; /* Hace visible los pseudoelementos */
  }