.navbar-dashboard{/*ES EL NAVBAR EN SI*/
    background-color: var(--blue);
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
}
.position-relative{
    position: relative !important;
}


.hide-navbar-dashboard{/*ESTE DESPLAZA EL NAVBAR HACIA LA IZQUIERDA PARA ESCONDERLO*/
    transition: all ease-in-out 0.3s;
    transform: translateX(-100%) !important;
    display: none;
}
.move-arrow{/*Cuando se oculte el navbar, el icono de la flecha del boton, se debe mover para que siga apareciendo*/
    right: -1.5rem !important;
    justify-content: end !important;
    transform: rotate(0) !important;
}




/*ATENCION ATENCION ATENCION ATENCION ATENCION ATENCION ATENCION ATENCION*/
/*ESTOOS TENDREN QUE MODIFICAR DE ACUERDO A LOS TAMAÑOS DE PANTALLA. ESTO ES PARA LA POSICION DE LA FLECHA O BOTON DE FLECHA PARA MOSTRAR O OCULTAR EL NAVBAR*/
.left-hide{
    left: -1.5rem;
}
.right-show{
    left: 10.8rem;
}



.btn-menu-nav{ /*ES EL BOTON PARA OCULTAR O MOSTRAR EL NAVBAR*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(180deg);
    z-index: 8;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all ease-in-out 0.3s;
}
.btn-menu-nav:hover{
    background-color: rgb(26, 26, 26);
}



.options-navbar{/*Es el ul que contiene los li u opciones*/
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.options-navbar li i{
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: #6d6dff;
}



/*Estilos del NavLink*/
.options-navbar a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
    border-right: 3px solid transparent;
    letter-spacing: 0.05rem;
    transition: all ease-in-out 0.3s;
}
.options-navbar a p{
    margin-left: 0.5rem;
    color: #ffffff !important;
}
.selected{
    color: #b4b4ff;
    border-right-color: #3636dd !important;
    background-color: #3636dd;
}


.container-button-nav{
    padding: 1rem;
}