.navbar-dashboard{
    position: relative;
    background-color: white;
    width: 280px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}




.header-navbar{
    width: 88%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0rem 1rem 0rem 0rem;
    border-bottom: 1px solid #e7e7e7;
}
.header-navbar > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.header-navbar > div > .icon-header-navbar{
    background-color: var(--blue);
    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-right: 1rem;
}
.header-navbar > div > p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}




.options-navbar{/*Es el ul que contiene los li u opciones*/
    display: flex;
    flex-direction: column;
    list-style: none;
}
.options-navbar li i{
    margin-left: 0.3rem;
}



/*Estilos del NavLink*/
.options-navbar a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-right: 3px solid transparent;
    transition: all ease-in-out 0.3s;
}
.options-navbar a p{
    margin-left: 0.5rem;
    color: #000 !important;
}
.selected{
    color: var(--blue);
    border-right-color: var(--blue) !important;
    background-color: #ededff;
}


.container-button-nav{
    padding: 1rem;
}