.overview{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1.5rem;
}





.overview-tlu{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas: "gen gen etr tes"   /*etr(employment type request) pes(profesional employment status) tes(trade employment status)*/
                         "gen gen pes tc"; /*general*/
}
.etr{
    grid-area: etr;
}
.pes{
    grid-area: pes;
}
.tes{
    grid-area: tes;
}
.gen{
    grid-area: gen;
}
.tc{
    grid-area: tc;
}





/*Estructura del overview para GM*/
.overview-gm{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "sta sta sta"
                         "sta sta sta";
}
.sta{
    grid-area: sta;
}