.section-precandidates{
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.modal-msg-section-precandidates{/*Es el padre que almacena el modal de notificaicon de mensajes*/
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.modal-notify-section-precandidates{/*Es el padre que almacena el modal de notificaicon de mensajes*/
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
.btn-new-candidate{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: white;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}



.container-candidates{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding:1rem;
    padding-left: 0 !important;
    position: relative;
}



.search-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    overflow: hidden;
}



.params-filter-precandidate{/*Es el contenedor que contiene los parametros de filtro de busqueda*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0.5rem 0.5rem 0.5rem; /**Agregue ahorita 2**/
}




/*Es el cuadro padre que contiene el formulario de registro de precandidato en el centro*/
.container-signup-precandidate{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.418);
}
.form-precandidate{/*Es el hijo que contiene el componente form*/
    padding: 2rem;
    border-radius: 0.7rem;
    position: relative;
    height: fit-content;
    width: 85%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: #838383;
}


.form-precandidate h1{/*Es el titulo del formulario*/
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
  color: black;
}





/*Estilos para el spinner que se muestra al cargar la tabla*/
.spinner-table-precandidates{/*Es el contenedor que contienen dentro el spinner*/
  width: 100%;
  height: 400px;
  display: flex;
  z-index: 8;
  justify-content: center;
  align-items: center;
  color: #838383;
}







/* Estilos para el contenedor de la tabla */

  
  /* Estilos para el scroll vertical */
  .form-precandidate::-webkit-scrollbar {
    width: 15px; /* Ancho del scroll */
  }
  
  .form-precandidate::-webkit-scrollbar-track {
    background: #ffffff; /* Color de fondo del track */
  }
  
  .form-precandidate::-webkit-scrollbar-thumb {
    background: #d4d4d4; /* Color del thumb (barra deslizante) */
    opacity: 0;
    border-radius: 3px; /* Borde redondeado del thumb */
  }
  
  /* Pseudoelemento antes del thumb */
  .form-precandidate::-webkit-scrollbar-thumb:hover::before {
    opacity: 1; /* Hace visible el pseudoelemento */
  }
  
  .form-precandidate::-webkit-scrollbar-thumb::before {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    top: 1; /* Lo coloca arriba del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    transition: opacity 0.3s; /* Efecto de transición */
    opacity: 0; /* Inicialmente invisible */
  }
  
  /* Pseudoelemento después del thumb */
  .form-precandidate::-webkit-scrollbar-thumb::after {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Establece la posición absoluta */
    width: 8px; /* Ancho igual al del thumb */
    height: 20px; /* Altura del pseudoelemento */
    bottom: 0; /* Lo coloca abajo del thumb */
    left: 0; /* Lo coloca a la izquierda del thumb */
    background: rgba(0, 0, 0, 0.5); /* Color del pseudoelemento */
    border-radius: 4px; /* Borde redondeado */
    transition: opacity 0.3s; /* Efecto de transición */
    opacity: 0 !important; /* Inicialmente invisible */
  }
  
  /* Al hacer hover sobre el scroll */
  .form-precandidate:hover::-webkit-scrollbar-thumb::before,
  .form-precandidate:hover::-webkit-scrollbar-thumb::after {
    opacity: 1; /* Hace visible los pseudoelementos */
  }