.search-input{
    width: 47%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 0.5rem !important;
    background-color: #f7f7f7 !important;
    border-radius: 0.5rem;
    overflow: hidden;
}
.search-input input{
    width: 100% !important;
    width: fit-content;
    margin-left: 0.4rem;
    padding: 0.5rem;
    outline: none;
    background-color: #f7f7f7;
    color: #585858;
}