.dashboard{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.dashboard > aside{
    width: calc(100% - 200px);
    height: 100vh;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}


.content-dashboard{
    width: 100%;
    height: calc(100% - 75px);
    overflow: hidden;
}