@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue: #2020cc;
    --modal-color-primary: #f6f6f6;
    --input-color-secondary: #f1f1f1;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
