@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue: rgb(60, 60, 231);
    --modal-color-primary: #f6f6f6;
    --input-color-secondary: #f1f1f1;
}

body{
    font-family: "DM Sans", sans-serif;
}