.modal-container-login{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.buttons-login{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.buttons-login p{
    margin-right: 1rem;
    color: rgb(168, 168, 168);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.form-container h1{
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(66, 66, 66);
    margin-bottom: 1.5rem;
    letter-spacing: 0.05rem;
}